@import url("https://fonts.googleapis.com/css2?family=Anton&family=Assistant&display=swap");

:root {
  /* colors */
  --primary-color: #000;
  --text-color: #eee;

  /* fonts */
  --title-font: "Anton", sans-serif;
  --text-font: "Assistant", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--primary-color);
  color: var(--text-color);
  font-family: var(--text-font);
}

main {
  min-height: calc(100vh - 90px);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

a.active,
a:hover {
  text-decoration: underline;
}

/* header */

body > header {
  display: flex;
  height: 68px;
  padding: 10px 0;
  justify-content: center;
}

nav > ul {
  list-style: none;
  justify-content: flex-end;
  display: flex;
  width: calc(80vw - 85px);
  font-weight: bold;
}

/* footer */

body > footer {
  padding: 0 10vw;
}

/* home */

/* details */
.details-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  background-color: #000;
  box-shadow: 0 0 100px 0 rgb(0 0 0 / 10%);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.details-image-container {
  width: 40%;
  position: relative;
  box-shadow: inset 0 0 300px 0 rgb(0 0 0);
}

.details-image-container .details-image {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.like-action {
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background: red;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
  cursor: pointer;
  transition: all 0.2s ease;
}

.like-action:hover {
  transform: scale(0.95) translate(-50%, -50%);
}

.like-action .like-icon {
  text-shadow: 0px 5px rgb(0 0 0 / 30%);
  transition: all 0.2s ease;
}

.like-action:hover .like-icon {
  transform: scale(1.15);
}

.details-container {
  width: 60%;
  position: relative;
}

.details-container-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://static.tvmaze.com/uploads/images/original_untouched/81/202627.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  box-sizing: content-box;
  border: 2px solid #000;
}

.details-container-image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.92);
  z-index: 2;
}

.details-container-backdrop {
  position: absolute;
  width: 15%;
  height: 100%;
  right: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

.details-container-content {
  position: relative;
  z-index: 5;
  padding: 3rem;
}
