@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

:root {
  /* colors */
  --primary-color: #000;
  --text-color: #c5c5c5;
  --title-color: #fff;

  /* fonts */
  --title-font: "Inter", sans-serif;
  --text-font: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #dedede;
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--primary-color);
  color: var(--text-color);
  font-family: var(--text-font);
  font-weight: 400;
  line-height: 1.5;
}

main {
  min-height: calc(100vh - 90px);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

a.active,
a:hover {
  text-decoration: underline;
}

/* header */

body > header {
  display: flex;
  height: 68px;
  padding: 10px 0;
  justify-content: center;
}

nav > ul {
  list-style: none;
  justify-content: flex-end;
  display: flex;
  width: calc(80vw - 85px);
  font-weight: bold;
}

/* footer */

body > footer {
  padding: 0 10vw;
}

/* home */

/* details */
.details-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  background-color: #000;
  box-shadow: 0 0 100px 0 rgb(0 0 0 / 10%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  width: 80%;
  max-height: 85vh;
  display: none;
}

.image-container {
  width: 40%;
  position: relative;
  box-shadow: inset 0 0 300px 0 rgb(0 0 0);
}

.close-button {
  position: absolute;
  z-index: 10;
  top: 1.25rem;
  right: 1.25rem;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  height: 2.25rem;
  width: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.close-button:hover {
  background: rgba(255, 255, 255, 0.15);
}

.image-container .image {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.like-action {
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background: red;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
  cursor: pointer;
  transition: all 0.2s ease;
}

.like-action .like-icon {
  text-shadow: 0px 5px rgb(0 0 0 / 30%);
  transition: all 0.2s ease;
}

.like-action:hover .like-icon {
  transform: scale(1.15);
}

.like-action .like-count {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background: rgba(255, 255, 255, 1);
  font-size: 14px;
  color: red;
  font-weight: 800;
  padding: 5px;
  border-radius: 50%;
}

.details-container {
  width: 60%;
  position: relative;
}

.details-container-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  box-sizing: content-box;
  border: 2px solid #000;
}

.details-container-image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

.details-container-backdrop {
  position: absolute;
  width: 15%;
  height: 100%;
  right: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

.details-container-content {
  position: relative;
  z-index: 5;
  margin: 2.5rem;
  padding: 0 1.5rem;
  overflow-y: scroll;
  height: calc(100% - 5rem);
}

.series-highlights {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.series-title,
.series-subtitle {
  font-family: var(--title-font);
  color: var(--title-color);
  font-size: 2rem;
  font-weight: 900;
  display: block;
  margin-bottom: 10px;
  letter-spacing: -1px;
}

.series-subtitle {
  margin-bottom: 15px;
  font-size: 1.25rem;
  font-weight: 700;
}

.series-language,
.series-rating {
  margin-right: 10px;
}

.series-lang-rating {
  display: flex;
}

.series-language img {
  border-radius: 50%;
  vertical-align: middle;
}

.series-genre {
  display: flex;
  align-items: center;
}

.series-genre li {
  margin-right: 10px;
  padding: 3px 15px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

.series-rating {
  display: flex;
  align-items: center;
  padding: 3px 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

.series-rating i {
  color: gold;
  margin-right: 5px;
}

.series-description {
  color: #d5d5d5;
  line-height: 1.5;
  padding: 0 0 10px 0;
}

.details-section,
.add-comment-section,
.comments-list-section {
  padding-bottom: 10px;
}

.add-comment-form input,
.add-comment-form textarea {
  padding: 10px;
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #e5e5e5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  margin-bottom: 15px;
  border-radius: 7.5px;
  font-size: 14px;
}

.add-comment-form input:focus,
.add-comment-form textarea:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.add-comment-form input::placeholder,
.add-comment-form textarea::placeholder {
  font-size: 14px;
  color: #495057;
}

.comment-form-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 10px 0;
}

.comment-form-buttons * {
  margin-left: 10px;
}

.add-comment-form button {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 7.5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.add-comment-form button.light-button {
  color: var(--text-color);
  background-color: transparent;
  border-color: transparent;
}

.comments-list .comment {
  display: flex;
  padding: 1.25rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 7.5px;
  margin-bottom: 15px;
}

.comments-list .comment .avatar {
  margin-right: 1rem;
}

.comments-list .comment .avatar img {
  width: 50px;
  border-radius: 50%;
}

.comments-list .comment .comment-content {
  flex: 1;
}

.comments-list .comment .comment-content .comment-content-title {
  display: flex;
  margin-bottom: 5px;
  color: #fff;
}

.comments-list
  .comment
  .comment-content
  .comment-content-title
  .commenter-name {
  font-weight: 700;
  color: #fff;
  margin-right: 10px;
}
